<!-- <ion-header>
  <ion-toolbar color="gradient">
    <ion-buttons slot="start">
      <ion-button menu (click)="toggleMenu()">
        <ion-icon slot="icon-only" color="white" size="small" src="assets/icon/menu1.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
     <ion-title>About Us</ion-title> 
    </ion-toolbar>
    </ion-header> -->

<div style="background-color: #4dd2ff; height: 100%">
  <ion-buttons slot="start">
    <ion-button menu (click)="toggleMenu()">
      <ion-icon slot="icon-only" color="white" size="small" src="assets/icon/menu1.svg"></ion-icon>
    </ion-button>
    </ion-buttons>
  <div>
    <h1 class="about-header"><b>Why Us?</b></h1>
  </div>
  
  <p class="about-statement">Interview and shop around to build your awesome dreams.</p>
  <div style="margin-top: 10px;">
    <img  src="../../../../assets/images/other/roundicon.png" alt="image">
  </div>

  <p class="about-statement">Create Personal And Meaningful Relation with your ConsicousCoach Team.</p>
  <div style="margin-top: 10px;">
    <img  src="../../../../assets/images/other/roundicon.png"  alt="image">
  </div>
  <p class="about-statement">Schedule a free strategy session with each expert, Creating your own special plan.</p>
  <div style="margin-top: 10px;">
    <img src="../../../../assets/images/other/roundicon.png" alt="image">
  </div>
  <p class="about-statement">Your own private 24 hour accessible library of all your personal session to stay on your track.All virtaul sessions are Auto Recorded</p>
  <div style="margin-top: 10px;">
    <img src="../../../../assets/images/other/roundicon.png" alt="image">
  </div>
  <p class="about-statement">Check your ConnectStore to see your best matches based on your short chemistry quiz.</p>
  <div style="margin-top: 10px;">
    <img  src="../../../../assets/images/other/roundicon.png"  alt="image">
  </div>
  <p class="about-statement">Peer to Peer Community Forums on a Variety of Topics.Join the conversion,get coaching on the go and give back</p>
</div>
