ion-content {
  --background: white;
  --color: var(--ion-color-dark);


  .logo-rounded {
    border-radius: 50px;
    height: 80px;
    width: 80px;
    border: 2px solid #CD6155;
    margin-bottom: 25px;
    margin-top: 10px;
  }

 .rounded {
   border-radius: 20px;
   height: 85px;
   width: 85px;
 }

 .coach-type {
   margin-left: 5px;
   border: 1px solid #62C9F9;
   padding: 4px 5px 4px 5px
 }

.signUp-btn {
  padding: 3px;
  background-color: #62C9F9;
  color: white;
}

.signUp-btn {
  background-color: #62C9F9;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  margin: 4px 2px;
  padding: 12px 28px;
  cursor: pointer;
}

  .container {
    height: 100%;
    text-align: center;

    &__content {
      position: relative;
      text-align: center;
      display: block;
      height: 85%;

      &::before,
      &__center {
        display: inline-block;
        vertical-align: middle;

      }

      &::before {
        content: '';
        width: 0;
        height: 100%;
      }

      &__center {
        width: 80%;

        .icon {
          width: 100px;
          height: 100px;
        }

        .title {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 15px;
        }

        .subtitle {
          font-size: 14px;
          font-weight: 400;
          color: var(--ion-color-medium);
          margin-bottom: 25px;
        }

        .sign-in {
          margin: 30px 0 0;
        }

        .pass-strength {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          display: block;
        }
      }
    }
  }
}